body , html {
	width: 100;
	height: 100;
	background-color: green;
	color:white;
}



a.nav.navbar-brand {
	color: white;
}

li.nav-item.active {
	overflow: hidden
}
a,li.nav-item.active {
	color: white;
	float: left;
}
